@media  (max-width: 1024px) {

    /*Cabeçalho*/


    #menu #logo{
        display: none;
    }

    #menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


     /*LOGOS CLIENTES*/

    #logos_clientes{
        padding-top: 100px;
    }


    /*Serviços*/

    #container_servicos{
        padding: 0 20px;
    }


    #feedback #container_feedback{
        width: 100%;
    }
    #container_feedback #feedbacks{
        flex-wrap: wrap;
        gap: 25px;
        
    }


    /*Contato*/
    #contato{
        padding: 50px 0;
    }


    /*Rodapé*/

    #container_rodape{
        width: 100%;
        padding: 50px 50px;
       
    }

    #copyright{
        width: 100%;
    }
}

@media  (max-width: 900px){
    /*Cabeçalho*/
    #menu{
        display: none;
    }

     .menu-button {
        display: block;
    }

    .sidebar {
        display: block; /* visível no mobile (mas fora da tela) */
    }

    .overlay {
        display: none; /* será ativado com JS */
    }

    .sidebar.open {
        left: 0;
    }

    .overlay.active {
        display: block;
    }

    /*home*/
    #container_home #home #home_imagem #imagem_likes{
        width: 35%;
    }
    /*LOGOS CLIENTES*/

     #logos_clientes{
        padding-top : 100px;
    }

    /*POTENCIAÇÃO*/

    #potenciacao #container_potenciacao #box_potenciacao{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    /*footer*/

    #container_rodape #marca{
        width: 33%;
    }
    #container_rodape #menu_footer{
        display: none;
    }
}

@media (max-width: 768px) {
    #menu{
        display: none;
    }
    
    .menu-button {
        display: block;
    }

    .sidebar {
        display: block; /* visível no mobile (mas fora da tela) */
    }

    .overlay {
        display: none; /* será ativado com JS */
    }

    .sidebar.open {
        left: 0;
    }

    .overlay.active {
        display: block;
    }

    /*home*/
    
    #container_home{
        height: auto;
    }

    #container_home #home #home_imagem #imagem_likes{
        width: 35%;
    }

    /*LOGOS CLIENTES*/

    #logos_clientes{
        padding-top: 100px;
    }

    /*Serviços*/
    #servicos #container_servicos #servicos1{
        flex-direction: column;
    }

    #servicos #container_servicos #servicos1 #text_servicos, #imagem_servicos{
        width: 100%;
        padding: 30px;
    }

    #text_servicos{
        margin-left: none;
    }

    #imagem_servicos3{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*POTENCIAÇÃO*/

    #potenciacao #container_potenciacao #box_potenciacao{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /*Footer*/

     #container_rodape #marca{
        width: 33%;
    }

    #container_rodape #menu_footer{
        display: none;
    }
}


@media (max-width: 653px){
    #container_home #home #home_imagem #imagem_likes{
        width: 35%;
    }
}


@media (max-width: 543px){
    /*contato*/
    #contato{
        text-align: center;
    }
    /*footer*/
    #container_rodape #links{
        display: none;
    }
}


@media (max-width: 477px){
    #container_home #home #home_texto{
        width: 90%;

        h1{
            font-size: 3rem;
        }
    }


    /*logos*/
    #logos_clientes{
        padding-top: 20px;
    }


    /*serviços*/

    #servicos #container_servicos #servicos1 #text_servicos{
        h1{
            font-size: 2rem;
        }
    }

    /*potenciação*/
    #potenciacao #container_potenciacao #box_potenciacao .potenciacao{
        width: 90%;

    }


    /*contato*/
    #contato .imagem_contato, #contato .imagem_contato2{
        
        display: none;
    }

}