@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --sadibar-color: #6c4872;
    --primary-color: #480055;
    --background-color2: #FFFFFF;
    --background-color: #EEEEEE;
    --color--terceira: #b4b4b4;
    --text-color: #111111;
    --font-family: 'Nunito Sans';
}   

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    scroll-behavior: smooth;
}


.menu-button,
.sidebar,
.overlay {
  display: none;
}